.projects {
    padding: 5rem 10%;
    background: var(--bg);
    color: var(--text);
}

.projects .heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: 800px;
    justify-content: center;
    gap: 3rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 1em;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.project-card img {
    width: 100%;
    /* height: 230px; */
    object-fit: cover;
    display: block;
    margin-bottom: 1em;
}

.project-card h3 {
    font-size: 1.3rem;
    margin: 1rem;
    color: hsl(0 0 90);
}

.project-card p {
    margin: 0 1rem 1rem;
    font-size: 0.9rem;
    line-height: 1.4;
    color: hsl(0 0 80);
}

.project-card .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0 1rem 1rem;
}

.project-card .tags span {
    background: var(--anchor-color);
    /* background-color: red; */
    color: #fff;
    padding: 0.3rem 0.7rem;
    border-radius: 1rem;
    font-size: 0.8rem;
    margin-top: 1em;
}

.hightlights {
    font-size: 0.9rem;
    padding: 0 2em;
    color: hsl(0 0 80);
}

.projects .btn {
    border-radius: .3em;
    padding: .5em 1em;
    align-self: center;
    margin: .5em 0 .5em 0;
}