.heading {
    font-size: 2rem;
    text-align: center;
    margin-bottom: -0rem;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.heading span {
    color: var(--brand-color);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 180px);
    gap: 1em;
    padding: 1em 3em;

}

.services-container .services-box {
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em;
    background: hsl(from var(--bg-color) h s calc(l + 2));
    border: .1em solid hsl(from var(--bg-color) h s calc(l + 10));
    border-radius: 1rem;
    transition: 1s;
    cursor: default;
    position: relative;
    opacity: 0;
    box-sizing: content-box;
}

.services-container .services-box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 0%;
    translate: 0% -50%;
    scale: 0 1;
    background: hsl(from var(--secondary-bg-color) h s calc(l + 10) / .25);
    transition: 1s ease;
    border-radius: inherit;
    transform-origin: left;
}

.services-container .services-box:hover {
    border-color: var(--brand-color);
    transform: scale(1.02);
}

.services-container .services-box:hover::before {
    scale: 1 1;
}

.services-container .services-box:nth-child(1),
.services-container .services-box:nth-child(2),
.services-container .services-box:nth-child(3) {
    animation: zoomIn 1s ease forwards;
    animation-delay: calc(.5s * var(--i));
}

.services-container .services-box:nth-child(4),
.services-container .services-box:nth-child(5),
.services-container .services-box:nth-child(6) {
    animation: zoomIn 1s ease forwards;
    animation-delay: calc(.5s * var(--i));
}

.services-box .icon {
    display: flex;
    justify-content: space-between;
}

.icon-wrapper {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    padding: .2em;
    background: white;
    border-radius: 50%;
}

.services-box .icon-wrapper .fa-solid {
    font-size: 1rem;
    color: var(--bg-color);
    rotate: 45deg;
}

.icon-wrapper:hover {
    background: var(--brand-color);
}

.icon-wrapper:hover .fa-arrow-right {
    color: white;
    rotate: 0deg;
}

.services-box .icon i {
    font-size: 1.5rem;
    transition: .5s;
}

.services-box:hover .fa-brands {
    color: var(--brand-color);
}

.services-box:hover .bx {
    font-size: 2rem;
}

.services-box h3 {
    font-size: 1.5rem;
    margin: .5em 0 .5em 0;
    transition: .5s;
}

.services-box:hover h3 {
    color: var(--brand-color);
}

.services-box p {
    font-size: .8rem;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}