@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

:root {
    --brand-color: #008cff;
    --bg-color: #1f242d;
}

body {
    background-color: var(--bg-color);
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: var(--brand-color);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    opacity: 0;
    transition: .3s;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
    color: var(--brand-color);
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 24px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: var(--brand-color);
}

.home-content h1 {
    font-size: 40px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 14px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img {
    max-width: 350px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s cubic-bezier(0.175, 0.885, 0.32, 1.075) forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 2px solid var(--brand-color);
    border-radius: 50%;
    font-size: 16px;
    color: var(--brand-color);
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5 ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    color: var(--brand-color);
}

.social-media a:hover {
    background: var(--brand-color);
    color: var(--bg-color);
    box-shadow: 0 0 20px var(--brand-color);
}

.btn {
    display: inline-flex;
    padding: 12px 28px;
    background: var(--brand-color);
    border-radius: 40px;
    box-shadow: 0 0 10px var(--brand-color);
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 1.5s;
}

.btn:hover {
    box-shadow: 0 0 10px hsl(from var(--brand-color) h s calc(l - 10));
    background-color: hsl(from var(--brand-color) h s calc(l - 10));
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    50% {
        transform: translateY(-24px);
    }
}