#about {
    width: 100%;
    height: calc(100vh - 64px);
    display: flex;
    background-color: var(--bg-color);
    scroll-margin-top: 64px;
    justify-content: space-evenly;
    padding: 2em 0;
}

#about .text {
    display: flex;
    flex-direction: column;
    height: auto;
    color: var(--white-text-color);
}

#about .text strong {
    color: var(--strong-color);
}

#about h2 {
    color: var(--front-text-color);
    font-size: 2rem;
}

#about .text p {
    text-align: start;
    font-size: .8rem;
    width: 60ch;
}

#about .techs {
    width: 100%;
    display: flex;
    gap: 7em;
}

#about h3 {
    color: var(--front-text-color);
    margin-bottom: 10px;
}

#about li {
    color: var(--dark-text-color);
    cursor: pointer;
    transition: .5s;
}

#about li:hover {
    color: var(--white-text-color);
}

#about li::before {
    content: '✔️ ';
    color: var(--primary-color);
}

#about .img-holder::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

#about img {
    object-fit: cover;
    width: 100%;
    /* height: 100%; */
}

#about .img-holder {
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px;
    transition: .5s;
}

#about .img-holder:hover {
    transform: scale(1.025);
    /* background: conic-gradient(from var(--deg), transparent 40%, blue); */
    /* animation: rotate 2s infinite linear forwards; */
}


@property --deg {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes rotate {
    from {
        --deg: 0deg;
    }

    to {
        --deg: 360deg;
    }
}