#contact {
    width: 100%;
    min-height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

#contact h1 {
    color: var(--front-text-color);
}

#contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}