header {
    width: 100%;
}

header .top {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5em 1em;
    gap: 1em;
    color: var(--primary-color);
    background-color: var(--bg-color);
    z-index: 10;
}

header .top p {
    color: var(--white-text-color);
    width: auto;
}

header .top .open-sidebar {
    display: none;
}

header .top span {
    font-size: 2rem;
    margin-right: auto;
}

header .top a {
    font-size: .9rem;
    color: var(--anchor-text-color);
    text-decoration: none;
}

header .top a:hover {
    transition: .8s;
}

header .top a:hover,
header .top button svg:hover {
    fill: var(--white-text-color);
    color: var(--white-text-color);
    text-decoration: underline;
}

header .top button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

header .top button svg {
    rotate: -360deg;
    fill: var(--anchor-text-color);
    transition: .8s;
}

header .side-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 1em;
    gap: 1em;
    height: 100vh;
    top: 0;
    right: -100%;
    width: 70%;
    background-color: var(--bg-color);
    transition: .7s ease-in-out;
    z-index: 10;
}


body:has(#sidebar:checked) .side-bar {
    right: 0;
}