#home {
    width: 100%;
    height: 100vh;
    margin-top: 64px;
    color: var(--white-text-color);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-margin-top: 64px;
}

#home .top-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

#home .top-img img {
    width: 100%;
}

#home h2 {
    color: var(--dark-text-color);
    margin-bottom: 20px;
}

#home h1 {
    text-align: center;
    font-size: 4rem;
    letter-spacing: -1px;
    line-height: 60px;
    color: var(--front-text-color);
}

#home p {
    width: 50ch;
    text-align: center;
}

#home P strong {
    cursor: pointer;
    color: var(--strong-color)
}