#projects {
    width: 100%;
    min-height: 450vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    height: calc(100vh - 64px);
    color: var(--white-text-color);
    background-color: var(--bg-color);
    scroll-margin-top: 64px;
}

.scroll {
    width: 90%;
    height: 1px;
    background-color: var(--anchor-text-color);
    align-self: center;
    position: relative;
}

.scroll::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--front-text-color);
    transform-origin: left;
    animation: glow forwards;
    animation-timeline: view();
    animation-range: 0 calc(100% - 64px);
    scale: 0 1;
}

@keyframes glow {
    to{scale: 1 1;}
}


#projects .header-text h1 {
    color: var(--front-text-color);
}

#projects .header-text p {
    color: var(--faded-text-color);
    text-align: center;
    width: 60ch;
}

#projects .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#projects .projects {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 6em;
}

#projects .projects .project {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}

#projects .projects .project .img-holder {
    /* width: 50%; */
    height: 250px;
    padding: .2em;
    background-color: var(--anchor-text-color);
}

.show {
    opacity: 1;
}

#projects .projects .project .text-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 1em;
    font-size: .9rem;
    width: 100ch;
}

#projects .projects .project .text-holder p {
    text-align: center;
}

#projects .projects .project .text-holder a {
    background-color: var(--button-color);
    box-shadow: 0px 4px 10px var(--shadow-color);
    border-radius: 10px;
    padding: .5em 2em;
    color: white;
    transition: .5s;
}

#projects .projects .project .text-holder a:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 10px var(--shadow-hover-color);
    background-color: var(--button-hover-color);
}

#projects .projects .project img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

#projects p {
    margin-top: 30px;
}

/* #projects .projects .project:nth-child(2n-1) .img-holder {
    animation: slideright forwards;
    animation-timeline: view();
    animation-range: 0% 30%;
}

#projects .projects .project:nth-child(2n-1) p,
#projects .projects .project:nth-child(2n-1) a {
    animation: slideleft forwards;
    animation-timeline: view();
    animation-range: 0% 30%;
}

#projects .projects .project:nth-child(2n) .img-holder {
    animation: slideleft forwards;
    animation-timeline: view();
    animation-range: 0% 30%;
}

#projects .projects .project:nth-child(2n) p,
#projects .projects .project:nth-child(2n) a {
    animation: slideright forwards;
    animation-timeline: view();
    animation-range: 0% 30%;
} */

@keyframes slideup {
    from {
        transform: scale(0) translateY(100%);
        opacity: 0;
    }

    to {
        transform: scale(1) translateY(0%);
        opacity: 1;
    }
}

@keyframes slideright {
    from {
        transform: scale(0) translateX(-100%);
        opacity: 0;
    }

    to {
        transform: scale(1) translateX(0%);
        opacity: 1;
    }
}

@keyframes slideleft {
    from {
        transform: scale(0) translateX(100%);
        opacity: 0;
    }

    to {
        transform: scale(1) translateX(0%);
        opacity: 1;
    }
}