@media (max-width: 426px) {
    header .top .topbar {
        display: none;
    }

    header .top .open-sidebar {
        display: block;
    }

    header .top span {
        font-size: 1.5rem;
    }

    body:has(#sidebar:checked) .overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        z-index: 9;
    }

}